<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bat" />
  <package id="chocolatey" />
  <package id="dotnetfx" />
  <package id="Everything" />
  <package id="everythingpowertoys" />
  <package id="fd" />
  <package id="firefoxpwa" />
  <package id="fzf" />
  <package id="golang" />
  <package id="googler" />
  <package id="lazygit" />
  <package id="less" />
  <package id="mingw" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="oh-my-posh" />
  <package id="python" />
  <package id="python3" />
  <package id="python312" />
  <package id="ripgrep" />
  <package id="tldr" />
  <package id="tldr-plusplus" />
  <package id="Wget" />
  <package id="zig" />
  <package id="zoxide" />
</packages>
